<div class="container">

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <div class="page-header">
        <h1>Service Meetups <br><small>Register</small></h1>
    </div>

    <form name="myForm" novalidate>
        Username:
        <input name="username" ng-model="username" class="form-control" placeholder="bob" type="text"/>
        Password:
        <input name="password" type="password" ng-model="password" class="form-control"/>
        Verify Password:
        <input name="password2" type="password" ng-model="password2" class="form-control"/>
        <span ng-show="myForm.$submitted && username.$invalid || password.$invalid || password2.$invalid">
                    Required field
        </span>
        <span ng-show="myForm.$submitted && password != password2">
                    Passwords don't match
        </span>
        <a ng-click="model.register(username, password)"
           class="btn btn-primary btn-block">Register</a>
        <a class="btn btn-danger btn-block"
           href="#/login">Cancel</a>
    </form>

</div>