<div class="container">

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <h2>Register</h2>

    <form name="myForm" novalidate>
        <input name="username" ng-model="username" class="form-control" placeholder="yourUsername" type="text"/>
        <input name="password" type="password" ng-model="password" class="form-control"/>
        <input name="password2" type="password" ng-model="password" class="form-control"/>
        <span ng-show="myForm.$submitted && username.$invalid || password.$invalid || password2.$invalid">
                    Required field
        </span>
        <span ng-show="myForm.$submitted && password != password2">
                    Passwords don't match
        </span>
        <a ng-click="model.register(username, password)"
           class="btn btn-primary btn-block">Register</a>
        <a class="btn btn-danger btn-block"
           href="#/login">Cancel</a>
    </form>

</div>