<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.user._id}}/website/" class="navbar-link">
              <span class="glyphicon glyphicon-chevron-left">
              </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                New Website
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.create()" class="navbar-link">
              <span class="glyphicon glyphicon-ok">
              </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <form>
        <div class="form-group">
            <label for="webName">Name</label>
            <input ng-model="model.website.name"
                   type="text"
                   class="form-control"
                   id="webName"
                   placeholder="My Blog"/>
        </div>
        <span ng-show="websiteName.$invalid">
                    Required field
                </span>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="5" id="description" class="form-control" placeholder="A daily blog about me and my crazy life"></textarea>
        </div>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.user._id}}" class="navbar-link">
              <span class="glyphicon glyphicon-user blue">
              </span>
                </a>
            </p>
        </div>
    </div>
</nav>
