input {
    margin-bottom: 5px;
}

body {
    padding-top : 60px;
    padding-left: 20px;
    padding-right: 20px;
}

p.navbar-text.pull-left {
    margin-right: 15px;
}

p.navbar-text.pull-right {
    margin-left: 15px;
}