input {
    margin-bottom: 5px;
}


.btn {
    border-radius: 18px;
}

body {
    padding-top: 120px;
    padding-bottom: 60px;
    background-image: url(http://www.wallpapersxl.com/wallpapers/1366x768/dark/126246/dark-ocean-up-net-126246.jpg);
    background-repeat: no-repeat;
    background-size:cover
}

p.navbar-text.pull-right {
    margin-right: 15px;
}

p.navbar-text.pull-left {
    margin-left: 15px;

}

div.well {
    width: 550px;
    margin: 0 auto;
    background-color: rgba(245, 245, 245, 0.4);
}

div.panel {
    width: 300px;
    height: 170px;
    margin: 0;
    background-color: rgba(245, 245, 245, 0.4);
}

div.panel-body {
    width: 300px;
    height: 170px;
    margin: 0;
    background-color: rgba(245, 245, 245, 0.4);
}