<div class="container">

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <h2>Register</h2>
    <input ng-model="model.username" class="form-control"
           placeholder="username"
           type="text"/>
    <input ng-model="model.password" class="form-control"
           placeholder="password"
           type="password">
    <input ng-model="model.password2" class="form-control"
           placeholder="verify password"
           type="password">
    <a ng-click="model.register(model.username, model.password, model.password2)"
       class="btn btn-primary btn-block">Register</a>
    <a class="btn btn-danger btn-block"
       href="#/login">Cancel</a>
</div>