<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.user._id}}/website/{{model.website._id}}/page/{{model.page._id}}/widget" class="navbar-link">
              <span class="glyphicon glyphicon-chevron-left">
              </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                Choose Widget
            </a>
        </div>
    </div>
</nav>


<ul class="list-group">
    <li class="list-group-item">
        <a ng-click="model.create(header)">Header</a></li>
    <li class="list-group-item">
        <a ng-click="model.create(image)">Image</a></li>
    <li class="list-group-item">
        <a ng-click="model.create(youtube)">YouTube</a></li>
</ul>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.user._id}}" class="navbar-link">
              <span class="glyphicon glyphicon-user blue">
              </span>
                </a>
            </p>
        </div>
    </div>
</nav>
