<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{widget.pageId}}" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
                  <span class="glyphicon glyphicon-plus">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    {{model.widget}}

    <div ng-repeat="widget in model.widgets">
        <div ng-switch-when="HEADING">
            <ng-include src="widget-heading.view.client.html"></ng-include>
        </div>
        <div ng-switch-when="IMAGE">
            <ng-include src="widget-image.view.client.html"></ng-include>
        </div>
        <div ng-switch-when="YOUTUBE">
            <ng-include src="widget-youtube.view.client.html"></ng-include>
        </div>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.user._id}}">
                    <span class="glyphicon glyphicon-user blue"></span>
                </a>
            </div>
        </div>
    </div>
</nav>